# Dependencies
node_modules
dist
lib
coverage
es
temp/
react-redux-*/
.vscode/
.firebase
.eslintcache
.project
.settings
.classpath

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

# Gradle file
build/


### Node ###
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/cache/
.cache/
.yarnrc
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
website/.yarn/

# Output of 'npm pack'
.pnp.*
*.tgz

.yalc
yalc.lock
yalc.sig

lib/core/metadata.js
lib/core/MetadataBlog.js

# Gatsby / Website
website/translated_docs
website/build/
website/node_modules
website/i18n/*

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db