.formList {
  padding: 1.6em 1em 0.8em;
  position: relative;
  box-sizing: border-box;
}

.formControl {
  width: 100%;
  flex-direction: row !important;
  justify-content: space-between;
}

.italic {
  font-style: italic !important;
}
.formInput {
  flex: 1;
}
