.List {
  position: relative;
  border-radius: 2em;
  cursor: pointer;
  position: absolute;
}
.ListItem {
  padding: 0 1em !important;
}

.List:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.List .more {
  position: static;
}

.more {
  position: relative;
}
.MenuItem {
  font-size: .875rem !important;
}
