.App {
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.FormControl {
  flex-direction: row !important;
}

.txt-italic {
  font-style: italic !important;
}

.Subtitle {
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
}
