.App {
  position: relative;
  box-sizing: border-box;

  max-width: 480px;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;

  background: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.formList {
  padding: 1.6em;
}
.formControl {
  width: 100%;
  flex-direction: row !important;
  justify-content: space-between;
}

.italic {
  font-style: italic !important;
}
.formInput {
  position: relative;
  flex: 1;
  padding: 0;
}

.todo-list {
  margin: 0 !important;
  padding: 0 !important;
}

/* RESET */
