.header {
  margin-bottom: 2em;
}
.header__greeting {
  margin-bottom: 0.5em;
  font-size: 1.8em;
  font-weight: 700;
  color: #49454e;
}
.header__subGreeting {
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 300;
}
